<section class="section benefits-section" id="benefits">
    <div class="container">
        <div class="benefits-title-wrapper">
            <svg class="benefits-icon-decoration" width="300" height="21" aria-hidden="true">
                <use href="/img/icons.svg#icon-decoration"></use>
            </svg>
            <h2 class="benefits-title">
                Capture Every Moment with Our Tailored Wedding Photography Packages
            </h2>
        </div>
        <div class="benefits-wrapper">
            <ul class="benefits-list">
                <li class="benefits-list-item">
                    <svg class="benefits-item-icon" width="100" height="100" aria-hidden="true">
                        <use href="/img/icons.svg#icon-champagne"></use>
                    </svg>
                    <h3 class="benefits-item-title">
                        Your Perfect Story: A Package Tailored for You.
                    </h3>
                    <p class="benefits-item-descr">
                        Explore our collection of wedding packages, each designed to perfectly capture the uniqueness of your special day.
                    </p>
                </li>
                <li class="benefits-list-item">
                    <svg class="benefits-item-icon" width="100" height="100" aria-hidden="true">
                        <use href="/img/icons.svg#icon-camera"></use>
                    </svg>
                    <h3 class="benefits-item-title">
                        From Dawn to Stars: Your Full Day in Frame.
                    </h3>
                    <p class="benefits-item-descr">
                        Capture every emotion, from the morning preparations to the grand finale of your wedding celebration.
                    </p>
                </li>
                <li class="benefits-list-item">
                    <svg class="benefits-item-icon" width="100" height="100" aria-hidden="true">
                        <use href="/img/icons.svg#icon-church"></use>
                    </svg>
                    <h3 class="benefits-item-title">
                        Precious Moments: Capturing Your Key Events.
                    </h3>
                    <p class="benefits-item-descr">
                        Perfect for preserving the most important moments of your intimate ceremony or smaller celebration.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
