<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="#" class="header-logo" aria-label="Go to homepage">
                <svg class="header-logo-icon" width="55" height="48">
                    <use href="/img/CompanyLogo2.svg"></use>
                </svg>
            </a>
            <button class="header-burger-btn" type="button" aria-label="Open navigation menu">
                <svg class="header-burger-icon" width="32" height="32">
                    <use href="/img/icons.svg#icon-burger"></use>
                </svg>
            </button>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#">About Me</a>
                    </li>

                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#benefits">Benefits</a>
                    </li>

                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#portfolio">Portfolio</a>
                    </li>

                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#faq">FAQ</a>
                    </li>

                </ul>
            </nav>
            <a href="#assortment" class="header-order-link">Book a Session</a>
        </div>
    </div>
</header>